.createForm {
  width: 100%;
  display: flex;
  gap: 8px;
}

.createInput {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid var(--gray-700);
  background-color: var(--gray-500);
  color: var(--gray-300);
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

.createSubmitButton {
  background-color: var(--blue-dark);
  color: var(--white);
  font-family: 'Inter', sans-serif;
  border: none;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  font-size: .875rem;
  font-weight: 700;
}